{{extend 'layout.html'}}
{{import databaseQueries}}
{{import utilityFunctions}}

{{
    userId = (auth.user.id) if (auth.is_logged_in()) else 0
    db = databaseQueries.getDBHandler(userId)
}}

<table>
{{for i,row in enumerate(rows):}}
	{{if i==items_per_page: break}}
	<tr class="feedRow">
		<td>
			<a href="{{=URL('users','profile',vars=dict(userId = row.auth_user.id))}}">
					{{
						displayPicture = ""
						if (row.auth_user.displayPicture!=None):
							displayPicture = row.auth_user.displayPicture
							pass
					}}
					{{=IMG(_src=databaseQueries.getUserProfilePicture(db, row.auth_user.id, displayPicture), 
						_alt=row.auth_user.first_name + " " + row.auth_user.last_name,_width="60px",_height="60px")}}
			</a>
		</td>
		<td>
			<a href="{{=URL('takes','viewTake',vars=dict(takeId=row.takes.id))}}">{{=row.takes.takeTitle}}</a> 
			<div class='likeCount' id = 'takeLikeCount'>
				{{=IMG(_src=URL('static','images/thumbsUpNegative.png'), _alt="thumbs", _width="25px",_height="25px")}}
				{{=databaseQueries.getNumberOfLikes(db, row.takes.id, "Take")}}
			</div>
			<br/>
			{{=XML(utilityFunctions.getArticlePreview(row.takes.takeContent))}}
		</td>
	</tr>
{{pass}}
</table>

<br/>
{{if page:}}
<a href="{{=previousUrl}}">Previous</a>
{{pass}}

{{if len(rows)>items_per_page:}}
<a href="{{=nextUrl}}">Next</a>
{{pass}}
