{{extend 'layout.html'}}
<script src="{{=URL('static','ckeditor/ckeditor.js')}}"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{=URL('static','js/tag-it.js')}}"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">

<script>
    $(function(){
        var sampleTags = [
                          {{
                        	  for tag in tagsList:
                        		  =XML("\'" + tag + "\',")
                        	  pass
                          }}
							];
        $('#tags').tagit({
            availableTags: sampleTags,
            singleField: true
        });
        
    });
</script>

{{=form.custom.begin}}

<p><b>Topics : </b>
          <select data-placeholder="Choose Topics ...." class="chosen-select" name="topics" multiple style="width:350px;" tabindex="4">
            <option value=""></option>
            {{for option in options:}}
            	{{if (option in preSelectedTopics):}}
            		<option value="{{=option}}" selected>{{=option}}</option>
            	{{else:}}
            		<option value="{{=option}}">{{=option}}</option>
            	{{pass}}
            {{pass}}
          </select>
</p>

<p>
	<b>Tags :</b>
	<input name="takeTags" id="tags" value="{{=existingTags}}">
</p>

<p><b>Take Title : </b>{{=form.custom.widget["takeTitle"]}}</p>

<p><b>Take Content : </b></p>

{{=form.custom.widget["takeContent"]}}

{{=form.custom.submit}}

{{=form.custom.end}}

<script src="{{=URL('static','chosenAPI/chosen.jquery.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','chosenAPI/docsupport/prism.js')}}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  var config = {
    '.chosen-select'           : {},
    '.chosen-select-deselect'  : {allow_single_deselect:true},
    '.chosen-select-no-single' : {disable_search_threshold:10},
    '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
    '.chosen-select-width'     : {width:"95%"}
  }
  for (var selector in config) {
    $(selector).chosen(config[selector]);
  }
  CKEDITOR.replace( 'takeContent', {
    	height : 600,
    	width : 1000
    });
</script>