{{extend "layout.html"}}
<div class="metro-surface">
<table>
	{{
		i = 1
		while(i<=len(topics)):
			topicFeedLink = ""
			topicName = ""
			topicId = i
			tileClass = "metro-tile"
			expandClass = "metro-tile"
			topicFeedLink = URL('takes','topicFeed',vars=dict(topicId=topics[i-1].id))
			topicId = topics[i-1].id
			topicName = topics[i-1].topicName
			tileClass = tileClass + " " + "metro-tile-" + str(topicId)
			expandClass = expandClass + " " + "metro-tile-" + str(topicId) + " metro-tile-expand"
			if((i-1)%4==0):
		}}
			<tr>
		{{
			pass
	}}
		<td>
			<a href="{{=topicFeedLink}}">
				<div id="tile-{{=topicId}}" class="{{=tileClass}}">{{=topicName}}</div>
			</a>
			{{if(topicId in expandableTopics):}}
			<a href='{{=URL('takes','topicPage',vars=dict(parentId=topicId))}}'>
				<div class="{{=expandClass}}">+</div>
			</a>
			{{pass}}
		</td>
	{{
		if(i%4==0):
		}}
			</tr>
		{{
			pass
		i = i + 1
		pass
	}}
</table>
</div>