{{extend "layout.html"}}
<div class="metro-surface">
<table>
	<tr>
		<td>
			<a href="{{=URL('takes','topicFeed',vars=dict(topicId='1'))}}">
				<div id="tile-1" class="metro-tile metro-tile-1">Entertainment</div>
			</a>
			<a>
				<div class="metro-tile metro-tile-expand" onclick="changeTiles()">+</div>
			</a>
		</td>
		<td>
			<a href="{{=URL('takes','topicFeed',vars=dict(topicId='6'))}}">
				<div id="tile-2" class="metro-tile metro-tile-2">Sports</div>
			</a>
		</td>
		<td><div id="tile-3" class="metro-tile metro-tile-3">Tweet</div></td>
		<td><div id="tile-4" class="metro-tile metro-tile-4">Tweet</div></td>
	</tr>
	<tr>
		<td><div id="tile-5" class="metro-tile metro-tile-5">Tweet</div></td>
		<td><div id="tile-6" class="metro-tile metro-tile-6">Tweet</div></td>
		<td><div id="tile-7" class="metro-tile metro-tile-7">Tweet</div></td>
		<td><div id="tile-8" class="metro-tile metro-tile-8">Tweet</div></td>
	</tr>
	<tr>
		<td><div id="tile-9" class="metro-tile metro-tile-9">Tweet</div></td>
		<td><div id="tile-10" class="metro-tile metro-tile-10">Tweet</div></td>
		<td><div id="tile-11" class="metro-tile metro-tile-11">Tweet</div></td>
		<td><div id="tile-12" class="metro-tile metro-tile-12">Tweet</div></td>
	</tr>
	<tr>
		<td><div id="tile-13" class="metro-tile metro-tile-13">Tweet</div></td>
		<td><div id="tile-14" class="metro-tile metro-tile-14">Tweet</div></td>
		<td><div id="tile-15" class="metro-tile metro-tile-15">Tweet</div></td>
		<td><div id="tile-16" class="metro-tile metro-tile-16">Tweet</div></td>
	</tr>
</table>
</div>