{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}
{{import databaseQueries}}
{{import utilityFunctions}}

{{block left_sidebar}}
	<h3>Posted By:</h3>
	<a href="{{=URL('users','profile',vars=dict(userId = authorUserId))}}" class="userPopToolTip">
		{{=IMG(_src=profilePicLink, _alt="DP",_width="120px",_height="120px")}}
		<span>
	 		{{=authorName}}<br/>
	 		<i>{{=authorNumberOfFollowers}} Follower{{="s" if (authorNumberOfFollowers!=1) else ""}}</i> 	
		</span>
	</a>
	<br/>
	
	<div class='likeCount' id = 'takeLikeCount'>
		({{=numberOfLikes}})
	</div>
	
	{{ if(auth.is_logged_in()):
		takeLikeLink = URL('takes','changeLikeStatus',vars=dict(articleId = takeId, articleType = "Take"))
	}}
	<div class="likeLink">
		<a href="#" onclick="changeLikeStatus('{{=takeLikeLink}}','takeLike','takeLikeCount')">
		    {{
		        if(isTakeLiked):
		            =IMG(_src=URL('static','images/thumbsUpPositive.png'), _alt="thumbs", _id="takeLike", _width="40px",_height="40px")
		        else:
		            =IMG(_src=URL('static','images/thumbsUpNegative.png'), _alt="thumbs", _id="takeLike", _width="40px",_height="40px")
		        pass
		    }}
		</a>
	</div>
	{{ pass }}
	<br/>
	{{ if editLink!="": }}
		<a href='{{=editLink}}'>Edit</a>
		<a href='{{=deleteLink}}'><font color = "red">Delete</font></a>
	{{pass}}
{{end}}


{{=XML(takeContent)}}
<br/>

<p><b>Tags : </b> {{=XML(existingTags)}}</p>
<br/>

{{=form}}
<br/>
<br/>

{{
index = 0
viewerId = (auth.user.id) if (auth.is_logged_in()) else 0

for row in comments:
    userId = row.auth_user.id
    userName = row.auth_user.first_name + " " + row.auth_user.last_name
    commentContent = row.comments.commentContent
    commentId = row.comments.id
    commentLikeLink = URL('takes','changeLikeStatus',vars=dict(articleId = commentId, articleType = "Comment"))
    commentImageId = "comment" + str(commentId)
	thumbsUpPositiveImage = IMG(_src=URL('static','images/thumbsUpPositive.png'), _alt="thumbs", _id=commentImageId, _width="40px",_height="40px")
	thumbsUpNegativeImage = IMG(_src=URL('static','images/thumbsUpNegative.png'), _alt="thumbs", _id=commentImageId, _width="40px",_height="40px")
	commentLikeCountId = "commentLikeCount" + str(index)
    commentLikeAction = (thumbsUpPositiveImage) if (isCommentLiked[index]) else thumbsUpNegativeImage
    numberOfFollowers = databaseQueries.getNumberOfFollowers(db, userId)
}}

<div class='likeCount' id = '{{=commentLikeCountId}}'>
	({{=commentLikeCount[index]}})
</div>

{{ if(auth.is_logged_in()): }}
	<div class="likeLink">
		<a onclick="changeLikeStatus('{{=commentLikeLink}}','{{=commentImageId}}','{{=commentLikeCountId}}')">
			{{=commentLikeAction}}
		</a>
	</div>
{{ pass }}

<a href="{{=URL('users','profile',vars=dict(userId = userId))}}" class="userPopToolTip">{{=userName}}
<span>
	<table>
		<tr>
		 	<td>
		 		{{=IMG(_src=databaseQueries.getUserProfilePicture(db, userId, None), _width="60px",_height="60px")}}
		 	</td>
		 	<td>
		 		{{=userName}}
		 		<br/>
		 		<i>{{=numberOfFollowers}} Follower{{="s" if (numberOfFollowers!=1) else ""}}</i>
		 	</td> 
		</tr>
	</table>
</span>
</a> : {{=commentContent}}
<br/>
{{
    if(viewerId==userId):
}}
	<a href="{{=URL('takes','deleteComment',vars=dict(takeId= takeId, commentId = commentId))}}"><font color = "red">Delete Comment</font></a>
	<br/>
{{
    pass
}}
<br/>
{{
	index = index + 1
	pass
}}
