{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}

{{block left_sidebar}}
<h3>Author:	</h3>
<a href="{{=URL('users','profile',vars=dict(userId = authorUserId))}}">{{=IMG(_src=profilePicLink, _alt="DP",_width="150px",_height="150px")}}</a>
<br/>
{{end}}

<div class='likeCount' id = 'takeLikeCount'>
	({{=numberOfLikes}})
</div>

{{ if(auth.is_logged_in()): }}
{{
	takeLikeLink = URL('takes','changeLikeStatus',vars=dict(articleId = takeId, articleType = "Take"))
}}
	<div class="likeLink">
		<a id="takeLike" href="{{=takeLikeLink}}">
		    {{
		        if(isTakeLiked):
		            =IMG(_src=URL('static','images/thumbsUpPositive.png'), _alt="thumbs")
		        else:
		            =IMG(_src=URL('static','images/thumbsUpNegative.png'), _alt="thumbs")
		        pass
		    }}
		</a>
	</div>
{{ pass }}

<br/>
{{ if editLink!="": }}
	<a href='{{=editLink}}'>Edit</a>
	<a href='{{=deleteLink}}'><font color = "red">Delete</font></a>
	<br/>
	<br/>
{{pass}}

{{=XML(takeContent)}}
<br/>
<br/>
{{=form}}
<br/>
<br/>

{{
index = 0
viewerId = (auth.user.id) if (auth.is_logged_in()) else 0
for row in comments:
    userId = row.auth_user.id
    userName = row.auth_user.first_name + " " + row.auth_user.last_name
    commentContent = row.comments.commentContent
    commentId = row.comments.id
    commentLikeLink = URL('takes','changeLikeStatus',vars=dict(articleId = commentId, articleType = "Comment"))
    commentLikeAction = (IMG(_src=URL('static','images/thumbsUpPositive.png'), _alt="thumbs")) if (isCommentLiked[index]) else IMG(_src=URL('static','images/thumbsUpNegative.png'), _alt="thumbs")
}}

<div class='likeCount' id = '{{="commentLikeCount" + str(index)}}'>
	({{=commentLikeCount[index]}})
</div>

{{ if(auth.is_logged_in()): }}
	<div class="likeLink">
		<a id = '{{="commentLike" + str(index)}}' href = '{{=commentLikeLink}}'>
			{{=commentLikeAction}}
		</a>
	</div>
{{ pass }}

<a href="{{=URL('users','profile',vars=dict(userId = userId))}}">{{=userName}}</a> : {{=commentContent}}
<br/>
{{
    if(viewerId==userId):
}}
	<a href="{{=URL('takes','deleteComment',vars=dict(takeId= takeId, commentId = commentId))}}"><font color = "red">Delete Comment</font></a>
	<br/>
{{
    pass
}}
<br/>
{{
	index = index + 1
	pass
}}
